/* Reset some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    height: 100vh;
    /* Ensure content takes full viewport height */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.Container {
  flex: 10; /* Allow the container to expand and fill available space */
  display: flex;
  flex-direction: column;
}

.Creator {
  margin-top: auto; /* Push the h6 tag to the bottom */
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}


/* FileUpload.js */
.FileUpload {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.FileUpload h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.FileUpload input[type="file"] {
  margin-bottom: 20px;
}

.FileUpload button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.FileUpload button:hover {
  background-color: #0056b3;
}

/* PhotoGallery.js */
.PhotoGallery {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.PhotoGallery h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px 8px 0 0;
}

/* Button styles (customize as needed) */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}
